@font-face {
  font-family: Cyberpunk;
  src: url(../../CyberwayRiders-lg97d.ttf);
}

#glitch-text {
  color: #05d9e8;
  font-size: 160px;
  text-shadow: 4px 5px #d1f7ff;
  font-family: Cyberpunk;
  margin-top: 10%;
}

#about-title {
  text-align: center;
}

#about-summary {
  margin: auto;
  width: 60%;
  color: white;
  display: flex;
  align-items: center;
  min-height: 40vh;
}