.react-pdf__Page__textContent {
  display: none;
}

.react-pdf__Page {
  background-color: transparent !important;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  position: relative;
  z-index: -1;
}

.react-pdf__Page__annotations {
  display: none;
}

#download-button {
  margin: 20px 0px 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  border-radius: px;
  color: white;
  border-color: #05d9e8;
}

button text {
  margin: auto;
}

#download-button:hover {
  cursor: pointer;
  background-color: #05d9e8;
}

#download-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#download-icon {
  font-size: 15px;
}