* {
  background: #212121;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.content {
  font-family: "Helvetica Neue";
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.title {
  font-weight: bold;
  color: #e7e7e7;
}

.symbol {
  -webkit-text-stroke: 13px #212121;
  font-size: 150px;
  color: green;
}

.text {
  margin-top: 15px;
  font-size: 25px;
  color: #e7e7e7;
  text-align: center;
  font-family: "avenir";
  font-weight: lighter;
}
