.navbar {
  background-color: #005678;
  height: 74px;
  display: flex;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
}

.menu-bars {
  font-size: 2rem;
  background: none;
}

.menu-bars {
  padding-top: 12px;
  padding-left: 7px;
}

.nav-menu {
  background-color: #005678;
  width: 85px;
  height: 38vh;
  display: flex;
  position: fixed;
  left: -100%;
  top: 0;
  transition: 850ms;
}

.nav-menu.active {
  align-items: center;
  left: 0;
  transition: 350ms;
  border-radius: 70px;
  top: 34%;
}

.nav-text {
  list-style: none;
  height: 65px;
}

.nav-text a {
  display: flex;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  align-items: center;
  padding: 0px 15px;
}

.nav-text a:hover {
  background-color: #01012b;
}

.nav-menu-items {
  width: 100%;
  font-size: 25px;
  padding: 17px 0px 0px 15px;
}

@media screen and (max-width: 320px) {
  .navbar {
    background-color: transparent;
  }

  .nav-menu-items {
    display: flex;
    margin: 0px 0px 0px -15px;
    justify-content: center;
    padding: 0px 0px 0px 25px;
  }

  .nav-menu.active {
    display: inline-table;
    position: relative;
    height: 0vh;
    margin: 0px 45px;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0px 0px;
  }
}

@media screen and (min-width: 321px) and (max-width: 576px) {
  .nav-menu-items {
    display: flex;
    margin: 0px 0px 0px -15px;
    padding: 0px 0px 0px 25px;
  }

  .nav-menu.active {
    display: inline-table;
    position: relative;
    height: 0vh;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0px 0px;
  }
}
